<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2> Edit Product</h2>
<table>
<form action="http://localhost:8080/students" method="post">
  <tr>
    <td>id</td>
    <td><input type="hidden" name="id" value="{id}"></td>
  </tr>
  <tr>
    <td>name</td>
    <td><input type="text" name="name" value="{name}"></td>
  </tr>
  <tr>
    <td>age</td>
    <td><input type="text" name="age" value="{age}"></td>
  </tr>
  <tr>

    <td></td>
    <td><button>Save</button></td>
  </tr>

</form>
</table>
</body>
</html>